body {
    background-color: #555;
    font-family: serif;
    border: none;
    }

div#wrapper {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

main {
    padding-bottom: 10px; 
    background-color: white;
    border: none;
}

nav {
    background-color: white;
    border: none;
    font-size: 1.1em;
    height: 50px;
    text-align: center;
}

nav ul { 
    list-style-type: none;
    width: 970px;
    align-content: center;
    padding: 10px;
}

nav li {
    display: inline-block;
    width: 65px;
    border: none;
    margin-right: 50px;
}

nav a{
    display: inline-block;
    width: 120px;
    height: 30px;
}

nav a:link, nav a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #808181;
}

nav a:hover {
    color: #021645;
} 

nav a.currentpage {
    color: #0b7dda;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: right;
    margin: 10% 0;
    background-color: #555;
    }

.container img {
    height: auto;
}

.text-block h1 {
    position: relative;
    top: -1050px;
    left:450px;
    color: white;
    font-size: 9em;
    border: none;
}

.text-block h2 {
   position: relative;
   top: -850px;
   left:480px;
   color: white;
   font-size: 4.4em;
    border: none;
}

footer {
    text-align: center;
    background-color: #555;
    padding:10px;
    margin: 0px;
    height: 50px; 
    clear:both;
}
.copyright {
    color: white;
    font-size: 1.2em;
}