html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #F5F4F4;
  color: #67575D;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.3;
}

.backcolor {
  position: fixed;
  width: 50%;
  height: 100%;
  background: linear-gradient(to bottom, #f4b261 0%, #f1685f 100%);
  z-index: -1;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1400px;
  width: 80%;
  min-height: 80%;
  height: 70%;
  background: #F5F4F4;
  box-shadow: 0px 10px 15px 5px rgba(0,0,0, 0.1);
  display: flex;
}

.sideblock {
  width: 300px;
  height: 100%;
  padding: 50px 0px 50px 30px;
  background: linear-gradient(to bottom, #f4b261 0%, #f1685f 100%); 
  color: #F5F4F4;
  box-sizing: border-box;
}

a {
  color: #f1685f;
}

.sideblock a {
  color: #F5F4F4;
  text-decoration: none;
}

.content {
  padding: 50px 100px;
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
}

figure {
    width: 100%;
}

figcaption {
    font-size: .6em;
    text-align: center;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 8px;
}

li:before {
  content: "-";
  margin-right: 8px;
}

.footer {
   text-align: center; 
    font-size: .8em;
    }


@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }
    
  .sideblock {
    width: 100%;
    height: 100px;
    padding: 20px;
    margin: 0;
  }
    
  .sideblock ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
    
  .sideblock li {
    margin: 0;
  }
    
  .sideblock li:before {
    content: "";
    margin: 0;
  }
    
  .content {
    width: 100%;
    padding: 20px;
  }

  .content h1 {
        font-size: 3em;
    }

}